<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <br class="About content">
        <h2>About Me</h2>
        <p>Bonjour,</p><br>
        <p> Je m'appelle Samia, developpeuse web autodidacte</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>